/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Feb, 2016, 3:09:41 PM
    Author     : rtcamp
*/

#map{
	height: 300px;
	width: 300px;
}

/*tooltip text*/
.tooltiptext{
	color: #7C92A9;
	display: inline;
	font-size: 0.8rem;
}

/*tooltip text for hover*/
.info-timing{
	color:#E22F2A;
	display: inline;
	font-weight: bold;
	font-size: 0.9rem;
}