/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Jan, 2016, 2:14:22 PM
    Author     : rtcamp
*/


/* main content of restaurant page css*/
.main-content{
  width:130%;
  margin:0 10% 0 10%;
  height: auto;
/*   border:solid aqua 2px; */
  display: inline-block;
  position: relative;
  clear: both;
  background-color: rgba(42,185,200,0.1);
  border: solid #125F67 1px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.labels{
  color:#1194A0;
  font-size:20px;
  margin-bottom: -0.2%;
}
.main-content >header{
  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
}

.main-content >header #restaurant-title{
  width: auto;
  height: auto;
  font-size: 30px;
  color: #128791;
}
.main-content >header #ratting img{
  margin: 15px;
  height: 25%;
  width: auto;
}
.main-content >.content{
  display: inline-block;
  position: relative;
  width: 100%;
}
.main-content >.content .content-left {
  width: 60%;
  margin-left:1%;
  display: inline-flex;
}
.main-content >.content .content_right {
  width: 35%;
/*     border:solid -moz-use-text-color 2px; */
}
.main-content >.content .content-left .left{
  display: inline;
  position: relative;
  width: 45%;
}
.main-content >.content .content-left .right{
  width: 50%;
}
.main-content> .content .content-left .address{
  height: auto;
  width: auto;
  margin-bottom: 10px;
  font-size: 14px;
}

.main-content >.content .content-left .left .contact .labels{
  font-size: 15px;
}

.main-content >.content .content-left .left .restaurant-type p:nth-of-type(2){
  margin-top: 5px;
  margin-left: 15px;
  font-size: 14px;
}

.main-content > .content .content-left .left .food-type ul{
  margin-left: 0px;
  font-size: 14px;
}


.main-content > .content .content-left .right #map{
  margin-top: 5%;
  height: 350px;
  clear: both; 
}

.main-content >.content .content-left .right .timing_table{
  border:none;
  width: 90%;
  font-size: 12px;
}

.timing_table tr td{
  border:none;
  padding: -1px -10px 0px 0px;
  margin: auto;
  
}

.timing_table #timing_title{
  font-weight: 28px;
  border-bottom-style:ridge;
  border-color: #128791;
  color: #128791;
  font-size:16px;
}

.timing_table .timing_data{
  font-size:13px;
}

.timing_table .timing_data .close{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
} 

.main-content >.content .content_right {
  display: inline-block;
  clear: both;
  position:relative;
}
.main-content >.content .content_right .labels{
  margin-left: 10%;
}
.main-content >.content .content_right .image-gallery{
  width: 90%;
  max-width: 90%;
  height: 30%;
  float: right; 
  margin:0 0 0 0;
  clear: both;
}

.main-content >.content .content_right .image-gallery #gallery-image{
  height: 300px;
  vertical-align: middle;
  max-height: 300px;
}


/* review area css */
.comments-area{
  width: 80%;
  margin:0 10% 0 10%;
  background-color: rgba(43,198,212,0.1);
  border: solid #125F67 1px;
  
  border-top: none;
}
.comments-title{
  font-size: 20px;
}

#commentform {
  margin-left:5%;
}
.comment-rating{
  max-width: auto;
  height: 3%;
  width:5%;
}


.comments-title{
  color:  #128791;
}
.comment-body{
  display:block;
  width: 35%;
}

.comment-body >.comment-author{
  color: #209AA4;
  font-size: 20px;
}

.comment-body > .comment-author .avatar {
  width: 30px;
  height: 30px;
}
.comment-body >.comment-meta{
  font-size: 12px;
}
.comment-body >.comment-meta .comment-edit-link{
  text-decoration: none;
  color: #209AA4;
}
.comment-body > div:nth-of-type(2){
  margin: 5px 0 0px 10px;
  font-size: 15px;
}

.comment-body > p:nth-of-type(1){
  width: auto;
  margin: 0px;
}
.comment-body img{
  margin-top:5px;
  width:15%;
}

.comment-body > strong{
  font-size: 15px;
}

.comment-body > .reply{
  margin-top: 5px; 
}

.comment-body > .reply a{
  text-decoration: none;
  color:  #15848D;
}

.comment-reply-title{
  color: #15848D;
  font-size: 20px;
  margin: 0;
}
.logged-in-as{
  margin:0px;
}
.logged-in-as a{
  text-decoration: none;
  color: #15848D;
  margin-bottom: 10px;
}
.logged-in-as a:nth-of-type(2){
  text-decoration: none;
  color:#0C6269;
  margin: 0;
}

.comment-form-rating{
  margin-top:10px;
  margin-bottom: 0px;
}
.comment-form-rating >label{
  color: #0C6269;
}

.commentratingbox{
  color: #167C85;
}

.comment-form-comment >label{
  color: #167C85;
}

.comment-form-comment >textarea{
  width: 40%;
  height: 10%;
}

.form-submit >.submit{
  color: #17777F;
  background-color: rgba(5,140,152,0.3);
  border:solid #058C98 1px;
  border-radius: 7px;
  margin-left:15%;
}

.form-submit >.submit:hover{
  color: #058C98;
  background-color: #148089 0.5;
  border:solid #148089 1px;
  border-radius: 7px;
}

